# let's start with Hello world!

In [2]:
print("Hello World!")

Hello World!

# Veriables

In [3]:
x = 6 # value 6 is stored in x
y = "jolly" #jolly string is stored in y

In [4]:
# let's print it. 
print (x)
# it should return value 6

6

In [5]:
#yeahh!!! right
# let's print jolly string
print (y)

jolly

In [6]:
#great 
#let's move forward and learn more

In [7]:
# x is a type of int (integer)

# Assign value to multiple veriables

In [8]:
x, y, z = "kite", 5, "It is raining today."

In [9]:
#print values
print(x)
print(y)
print(z)

kite
5
It is raining today.

# Combine veriables in output

In [11]:
print("listen " + x + "at" + y + "o'clock" + z)

TypeError: can only concatenate str (not "int") to str

In [12]:
#Opppsss we can only concatenate int to int and str to str. 
# to concatinate or combine int to str first we will have to convert str to int or int to str

In [14]:
#let's see
print(x + z)

kiteIt is raining today.

In [15]:
print (y)

5

In [18]:
print(x + " listen " + z) # because x and z both are string

kite listen It is raining today.

In [21]:
print ("I have " + x + " gifts.")

I have kite gifts.

# Don't worry we will learn about converting datatype in later tutorials
Opppssss you don't know what is datatypes. 
it is ok let's learn first "what is datatype"
# datatypes

In [22]:
#we already learned about int and str.
# we can inspect it by 
print(type(x))

<class 'str'>

In [23]:
print(type(y))

<class 'int'>

# int is numeric type, where numeric has other types also
float and complex

In [24]:
x = 5
y = 0.1 # a number has fractional values

In [25]:
print(x)
print(y)

5
0.1

In [34]:
if x == y:
    print ("true")
else:
    print("false")

false

In [35]:
#because int is not equal to float.
# float has fractional point and interger does not have

# other datatypes

In [37]:
a = 1j #complex datatype (number and alphabet or combination of alphabet and numbers)
print(a)

1j

In [38]:
#inspect datatype of a 
print(type(a))

<class 'complex'>

In [39]:
b = ("apple", "banana", "mango")
print(b)

('apple', 'banana', 'mango')

In [40]:
print(type(b))

<class 'tuple'>

In [43]:
c = (("apple", "banana", "mango"))
print(c)

('apple', 'banana', 'mango')

In [44]:
print(type(c))

<class 'tuple'>

In [50]:
d = dict(name = "jonny", age = 23)
print(d)

{'name': 'jonny', 'age': 23}

In [51]:
print(type(d))

<class 'dict'>

In [56]:
s = set(("apple", "banana", "mango"))
print(s)
print(type(s))

{'banana', 'mango', 'apple'}
<class 'set'>

In [57]:
l = list(("apple", "banana", "mango")) #by default it is known as tauple
print(l)
print(type(l))

['apple', 'banana', 'mango']
<class 'list'>

In [59]:
e = bool(5) # bool means true or false
print(e)

True

In [61]:
f = bytes(5)
print(f)

b'\x00\x00\x00\x00\x00'

In [62]:
g = bytearray(5)
print(g)

bytearray(b'\x00\x00\x00\x00\x00')

In [63]:
h = memoryview(bytes(5))
print(h)

<memory at 0x0000022AB64A7348>

In [1]:
l = ["pen", "apple", "pen", "pineapple"]
a = list(l[0])
b = list(l[3])
c = list(l[1])
d = list(l[2])

print(a[0] + b[0] + c[0] + d[0])

ppap